In [1]:
import pandas as pd

In [2]:
columns = ['SID',
           'SEASON',
           'NUMBER',
           'BASIN',
           'SUBBASIN',
           'NAME',
           'ISO_TIME',
           'NATURE',
           'LAT',
           'LON',
           'WMO_WIND',
           'WMO_PRES',
           'TRACK_TYPE',
           'DIST2LAND',
           'LANDFALL',
           'USA_WIND',
           'USA_PRES',
           'STORM_SPEED',
           'STORM_DIR'
          ]

In [3]:
data = pd.read_csv('./data/IBTrACS/ibtracs.since1980.list.v04r00.csv', usecols=columns, dtype='str')

In [4]:
data.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,WMO_WIND,WMO_PRES,TRACK_TYPE,DIST2LAND,LANDFALL,USA_WIND,USA_PRES,STORM_SPEED,STORM_DIR
0,,Year,,,,,,,degrees_north,degrees_east,kts,mb,,km,km,kts,mb,kts,degrees
1,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 00:00:00,TS,-12.5000,172.500,,,main,647,647,25,,6,351
2,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 03:00:00,TS,-12.1927,172.441,,,main,653,653,25,,6,351
3,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 06:00:00,TS,-11.9144,172.412,,,main,670,670,25,,5,358
4,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 09:00:00,TS,-11.6863,172.435,,,main,682,682,25,,4,12

The following block of code removes the record in 0, in data.head()

In [5]:
ibtracs = data.drop(0, axis=0, inplace=False)
ibtracs = ibtracs.reset_index(inplace=False, drop=True)

In [6]:
ibtracs.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,WMO_WIND,WMO_PRES,TRACK_TYPE,DIST2LAND,LANDFALL,USA_WIND,USA_PRES,STORM_SPEED,STORM_DIR
0,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 00:00:00,TS,-12.5000,172.500,,,main,647,647,25,,6,351
1,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 03:00:00,TS,-12.1927,172.441,,,main,653,653,25,,6,351
2,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 06:00:00,TS,-11.9144,172.412,,,main,670,670,25,,5,358
3,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 09:00:00,TS,-11.6863,172.435,,,main,682,682,25,,4,12
4,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 12:00:00,TS,-11.5000,172.500,,,main,703,703,25,,4,22

Let's do some queries, filter for year/season 2000

In [7]:
ibtracs[ibtracs['SEASON']==str(2000)]

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,WMO_WIND,WMO_PRES,TRACK_TYPE,DIST2LAND,LANDFALL,USA_WIND,USA_PRES,STORM_SPEED,STORM_DIR
142885,1999343S09095,2000,102,SI,WA,ILSA,1999-12-08 22:00:00,NR,-9.00000,95.0000,25,1002,main,924,914,,,5,98
142886,1999343S09095,2000,102,SI,WA,ILSA,1999-12-09 00:00:00,NR,-9.02366,95.1764,,,main,914,904,,,5,98
142887,1999343S09095,2000,102,SI,WA,ILSA,1999-12-09 03:00:00,NR,-9.05840,95.4417,,,main,914,900,,,5,97
142888,1999343S09095,2000,102,SI,WA,ILSA,1999-12-09 06:00:00,NR,-9.09142,95.7087,,,main,900,887,,,5,97
142889,1999343S09095,2000,102,SI,WA,ILSA,1999-12-09 09:00:00,NR,-9.12179,95.9783,,,main,887,878,,,5,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149936,2000364N07130,2000,113,WP,MM,SOULIK,2001-01-04 18:00:00,TS,17.7500,137.533,,1000,main,1433,1401,55,,7,182
149937,2000364N07130,2000,113,WP,MM,SOULIK,2001-01-04 21:00:00,TS,17.2995,137.429,,,main,1401,1364,40,,10,200
149938,2000364N07130,2000,113,WP,MM,SOULIK,2001-01-05 00:00:00,TS,16.8429,137.186,,,main,1360,1305,25,,12,215
149939,2000364N07130,2000,113,WP,MM,SOULIK,2001-01-05 03:00:00,TS,16.3328,136.730,,,main,1291,1253,22,,11,225
149940,2000364N07130,2000,113,WP,MM,SOULIK,2001-01-05 06:00:00,TS,16.1000,136.400,,,main,1253,,20,,8,234

Let's divide the "iso_time" field into "year", "month", "day" and "hour", so that we can query for more specific values

In [8]:
ibtracs[["YEAR", "MONTH", "DAY_HOUR"]] = ibtracs["ISO_TIME"].str.split('-', expand=True)
ibtracs[["DAY", "HOUR"]] = ibtracs["DAY_HOUR"].str.split(' ', expand=True)
#ibtracs = ibtracs.drop(columns=["ISO_TIME"])
ibtracs = ibtracs.drop(columns=["DAY_HOUR"])
ibtracs.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,DIST2LAND,LANDFALL,USA_WIND,USA_PRES,STORM_SPEED,STORM_DIR,YEAR,MONTH,DAY,HOUR
0,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 00:00:00,TS,-12.5000,172.500,...,647,647,25,,6,351,1980,01,01,00:00:00
1,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 03:00:00,TS,-12.1927,172.441,...,653,653,25,,6,351,1980,01,01,03:00:00
2,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 06:00:00,TS,-11.9144,172.412,...,670,670,25,,5,358,1980,01,01,06:00:00
3,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 09:00:00,TS,-11.6863,172.435,...,682,682,25,,4,12,1980,01,01,09:00:00
4,1980001S13173,1980,1,SP,MM,PENI,1980-01-01 12:00:00,TS,-11.5000,172.500,...,703,703,25,,4,22,1980,01,01,12:00:00

Now we extract longitude and latitude of the cyclones that happened in the same ERA5 timestamp(1980-10-03T15:00:00.000000000)

Note: in the ERA5 these values are already strings, so you don't need to cast with str() in the following query

In [25]:
year = "1980"
month = "10"
day = "03"
hour = "15:00:00"
ibtracs[(ibtracs['YEAR']==year) & (ibtracs['MONTH']==month) & (ibtracs['DAY']==day)]# & (ibtracs['HOUR']==hour)]

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,DIST2LAND,LANDFALL,USA_WIND,USA_PRES,STORM_SPEED,STORM_DIR,YEAR,MONTH,DAY,HOUR
4765,1980270N13165,1980,83,WP,MM,VERNON,1980-10-03 00:00:00,TS,31.2333,149.650,...,956,944,95,,20,32,1980,10,03,00:00:00
4766,1980270N13165,1980,83,WP,MM,VERNON,1980-10-03 03:00:00,TS,32.1393,150.380,...,962,957,87,,25,37,1980,10,03,03:00:00
4767,1980270N13165,1980,83,WP,MM,VERNON,1980-10-03 06:00:00,TS,33.2034,151.423,...,999,999,80,,30,41,1980,10,03,06:00:00
4768,1980270N13165,1980,83,WP,MM,VERNON,1980-10-03 09:00:00,TS,34.3976,152.717,...,1080,1080,70,,34,45,1980,10,03,09:00:00
4769,1980270N13165,1980,83,WP,MM,VERNON,1980-10-03 12:00:00,TS,35.6429,154.329,...,1131,1110,60,,37,49,1980,10,03,12:00:00
4770,1980270N13165,1980,83,WP,MM,VERNON,1980-10-03 15:00:00,TS,36.8365,156.148,...,1114,1093,57,,37,53,1980,10,03,15:00:00
4771,1980270N13165,1980,83,WP,MM,VERNON,1980-10-03 18:00:00,MX,37.8858,158.006,...,1096,1096,55,,31,56,1980,10,03,18:00:00
4772,1980270N13165,1980,83,WP,MM,VERNON,1980-10-03 21:00:00,MX,38.5373,159.379,...,1117,1111,,,25,55,1980,10,03,21:00:00
4802,1980275N34340,1980,84,NaN,NaN,IVAN,1980-10-03 00:00:00,ET,37.2000,-23.5000,...,1172,1172,25,1009,7,25,1980,10,03,00:00:00
4803,1980275N34340,1980,84,NaN,NaN,IVAN,1980-10-03 03:00:00,ET,37.4849,-23.3219,...,1190,1187,25,1009,7,28,1980,10,03,03:00:00
4804,1980275N34340,1980,84,NaN,NaN,IVAN,1980-10-03 06:00:00,ET,37.8000,-23.1000,...,1187,1162,25,1009,9,24,1980,10,03,06:00:00
4805,1980275N34340,1980,84,NaN,NaN,IVAN,1980-10-03 09:00:00,ET,38.3097,-22.8536,...,1162,1123,25,1008,10,28,1980,10,03,09:00:00
4806,1980275N34340,1980,84,NaN,NaN,IVAN,1980-10-03 12:00:00,ET,38.7000,-22.5000,...,1123,1071,25,1008,9,61,1980,10,03,12:00:00
4807,1980275N34340,1980,84,NaN,NaN,IVAN,1980-10-03 15:00:00,ET,38.7285,-21.8732,...,1071,1029,25,1007,9,103,1980,10,03,15:00:00
4808,1980275N34340,1980,84,NaN,NaN,IVAN,1980-10-03 18:00:00,ET,38.5000,-21.4000,...,1030,1030,25,1007,7,151,1980,10,03,18:00:00
4809,1980275N34340,1980,84,NaN,NaN,IVAN,1980-10-03 21:00:00,ET,38.1370,-21.4505,...,1044,1044,25,1006,9,201,1980,10,03,21:00:00
4879,1980277N09157,1980,85,WP,MM,WYNNE,1980-10-03 00:00:00,TS,7.53125,155.131,...,1234,1190,25,,10,227,1980,10,03,00:00:00
4880,1980277N09157,1980,85,WP,MM,WYNNE,1980-10-03 03:00:00,TS,7.22137,154.735,...,1186,1143,30,,10,230,1980,10,03,03:00:00
4881,1980277N09157,1980,85,WP,MM,WYNNE,1980-10-03 06:00:00,TS,6.88696,154.370,...,1143,1101,35,,9,229,1980,10,03,06:00:00
4882,1980277N09157,1980,85,WP,MM,WYNNE,1980-10-03 09:00:00,TS,6.63357,154.054,...,1101,1069,42,,8,234,1980,10,03,09:00:00
4883,1980277N09157,1980,85,WP,MM,WYNNE,1980-10-03 12:00:00,TS,6.42609,153.739,...,1066,1035,50,,8,240,1980,10,03,12:00:00
4884,1980277N09157,1980,85,WP,MM,WYNNE,1980-10-03 15:00:00,TS,6.23471,153.373,...,1035,1013,55,,8,247,1980,10,03,15:00:00
4885,1980277N09157,1980,85,WP,MM,WYNNE,1980-10-03 18:00:00,TS,6.11205,152.982,...,1013,993,60,,8,254,1980,10,03,18:00:00
4886,1980277N09157,1980,85,WP,MM,WYNNE,1980-10-03 21:00:00,TS,6.01248,152.606,...,993,985,65,,8,261,1980,10,03,21:00:00